@model Movies4U.Models.Users

@{
    ViewData["Title"] = "Movies4U";
}
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <section>
        <header class="home-header">
            <h1>Welcome to Movies4U !</h1>
        </header>
    </section>
<br />
<section>
<aside>
    <h4><b>Search for movies</b></h4>
    <p>Search for movies by different filters >> <a href="~/Movies/Index">Movies</a></p>
</aside>
<br />
<aside>
    <h4><b>Popular Trailers</b></h4>
    <p>The perfect score new trailer!</p>
    <video width="600" height="370" autoplay title="The perfect score - Trailer">
        <source src="~/videos/the_perfect_score_trailer.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</aside>
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
