@model Movies4U.Models.Users

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-action="Login">
    <div class="form-horizontal">
        <h4>Users</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Username" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Username" class="form-control" type="text" required/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Password" class="form-control" type="password" required/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
        @{ 
            string error = ViewBag.Error;
            if (error != null)
            {
                <label>@error</label>
            }
        }
    </div>
</form>
<form asp-action="Logout">
</form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
